/*body{
    background-color: #6da5ff;
    color:white;
    text-align: center;
}
h1{
    font-size: 100px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    font-style: italic;
}*/